body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1000;
}

#skills-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#aboutme {
    box-sizing: border-box;
}

#skills-icons img {
    min-width: 100px;
    width: 10%;
    transition: scale 0.5s;
}

#skills-icons img:hover {
    scale: 1.2;
    transition: scale 0.5s;
}

#skills-icons p {
    display: none;
    position: absolute;
    font-weight: bold;
    background-color: lightgrey;
    padding: 10px 20px;
    border-radius: 30px;
}   

#projects a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#projects div {
    display: flex;
    flex-direction: row;
}

#projects div p {
    margin: auto 0;
}

#projects div img {
    margin-right: 1%;
    min-width: 100px;
    width: 10%;
}

/****************************************************************/

/* Media Queries */
@media screen and (max-width: 1000px) {
    /* mobile */
    body {
        font-size: 1.5rem;
    }

    .main {
        margin-top: 4rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    #navbar {
        display: none;
    }

    #navbar-menu {
        display: none;
        position: fixed;
        background-color: #f1f1f1;
        margin-top: 3rem;
        width: 100%;
        height: 50%;
        font-size: 3rem;
     }

    #navbar-menu ul {
        list-style: none;
    }

    #navbar-menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    #navbar-button button {
        height: 50px;
        width: 50px;
        float: right;
    }
    
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: black;
    }

    #aboutme img {
        width: 100%;
    }

    #skills-icons img:hover + p {
        display: block;
        transform: translateY(-100px);
        right: 5%;
    }
  }
  
/****************************************************************/

  @media screen and (min-width: 1001px) {
    /* laptop */
    body {
        font-size: 2rem;
    }
    
    .main {
        margin-top: 10rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    #navbar ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    #navbar-button {
        display: none;
    }

    #navbar-menu {
        display: none;
    }

    #aboutme img {
        float: left;
        margin-right: 5%;
        min-width: 300px;
        width: 20%;
    }

    #skills-icons img:hover + p {
        display: block;
        transform: translateY(-120px);
    }
  }