body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d1d1d1;
    z-index: 1000;
}

#skills-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#aboutme {
    background-color: #f1f1f1;
}

#skills-icons img {
    min-width: 100px;
    width: 10%;
    transition: scale 0.5s;
}

#skills-icons img:hover {
    scale: 1.2;
    transition: scale 0.5s;
}

#skills-icons p {
    display: none;
    position: absolute;
    font-weight: bold;
    background-color: #e1e1e1;
    padding: 10px 20px;
    border-radius: 30px;
}   

#projects a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#projects a:hover {
    color: #818181;
}

#projects div {
    display: flex;
    flex-direction: row;
}

#projects div p {
    margin: auto 0;
}

#projects div img {
    margin-right: 1%;
    min-width: 100px;
    width: 10%;
}

#timeline {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

#timeline div:nth-child(even) {
    z-index: 100;
    text-align: center;
    background-color: #e1e1e1;
    border-radius: 50%;
    padding: 20px 20px;
    box-shadow: #e1e1e1 0 0 10px;
}

#timeline div:nth-child(even)::before {
    display: block;
    position: absolute;
    content: attr(id);
}

#timeline div:nth-child(4n)::before {
    transform: translateY(-70px) translateX(-50%);
}

#timeline div:nth-child(4n+2)::before {
    transform: translateY(30px) translateX(-50%);
}

.line {
    display: block;
    width: 20%;
    transform: translateY(15px);
    height: 10px;
    background-color: #f1f1f1;
    box-shadow: #f1f1f1 0 0 5px;
}

.line:first-child {
    border-radius: 15px  0 0 15px;
}

.line:last-child {
    border-radius: 0 15px 15px 0;
}

#timeline-content ul {
    list-style: none;
    padding: 0;
}

#timeline-content ul li {
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s;
}

#timeline-content ul li:hover {
    background-color: #f1f1f1;
    transition: background-color 0.5s;
}

#timeline-content ul li div {
    margin-right: 2%;
}

#timeline-content ul li div:first-child {
    min-width: 210px;
}

/****************************************************************/

/* Media Queries */
@media screen and (max-width: 1000px) {
    /* mobile */
    body {
        font-size: 1.5rem;
    }

    .main {
        margin-top: 4rem;
    }

    #navbar {
        display: none;
    }

    #navbar-menu {
        display: none;
        position: fixed;
        background-color: #e1e1e1;
        margin-top: 3rem;
        width: 100%;
        height: 40%;
        font-size: 3rem;
     }

    #navbar-menu ul {
        list-style: none;
    }

    #navbar-menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    #navbar-button button {
        height: 50px;
        width: 50px;
        float: right;
    }
    
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: black;
    }

    #aboutme img {
        width: 100%;
    }

    #skills-icons img:hover + p {
        display: block;
        transform: translateY(-100px);
        right: 5%;
    }
  }
  
/****************************************************************/

  @media screen and (min-width: 1001px) {
    /* laptop */
    body {
        font-size: 2rem;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #navbar ul li {
        box-sizing: border-box;
        width: 20%;
        text-align: center;
    }

    #navbar ul li:hover {
        background-color: #b1b1b1;
    }

    #navbar ul li a {
        display: block;
        padding: 10% 0;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    #navbar-button {
        display: none;
    }

    #navbar-menu {
        display: none;
    }

    .main > h1 {
        padding: 10rem 5% 0;
        background-color: #f1f1f1;
        margin: 0;
    }

    #aboutme {
        padding: 2% 5% 5%;
    }

    #aboutme img {
        float: left;
        margin-right: 5%;
        min-width: 300px;
        width: 20%;
    }

    #skills {
        padding: 2% 5%;
    }

    #skills-icons img:hover + p {
        display: block;
        transform: translateY(-120px);
    }

    #projects {
        padding: 2% 5%;
        background-color: #f1f1f1;
    }

    #education > h2 {
        padding: 2% 5% 0;
    }

    #timeline-content li {
        padding: 2% 10%;
    }

    #languages {
        padding: 0 10% 2%;
    }

    #studies > h3 {
        padding: 0 10% 2%;
    }

    #experience {
        padding: 2% 5%;
        background-color: #f1f1f1;
    }
  }